.get-list-btn {
	border-radius: 5px;
	padding: 0.5rem 1rem;
	border: none;
	margin: 1rem;
	margin-bottom: 0;
	display: flex;
	background-color: #9f4545;
	color: white;
	font-weight: bold;
}

.card {
	background-color: #202020;
	border-radius: 5px;
	margin: 1rem;
	padding: 1rem;
	cursor: pointer;
	position: relative;
	display: flex;
}

a {
	color: #eee;
}

img {
	border-radius: 5px;
}
